<html ng-app="demo">
	<head>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../angular-idle.min.js"></script>
		<script type="text/javascript">
			var app = angular.module('demo', ['ngIdle']);
			app
			.controller('EventsCtrl', function($scope, Idle) {
				$scope.events = [];
				$scope.idle = 5;
				$scope.timeout = 5;

				$scope.$on('IdleStart', function() {
					$scope.events.push({event: 'IdleStart', date: new Date()});
				});

				$scope.$on('IdleEnd', function() {
					$scope.events.push({event: 'IdleEnd', date: new Date()});
				});

				$scope.$on('IdleWarn', function(e, countdown) {
					$scope.events.push({event: 'IdleWarn', date: new Date(), countdown: countdown});
				});

				$scope.$on('IdleTimeout', function() {
					$scope.events.push({event: 'IdleTimeout', date: new Date()});
				});

				$scope.$on('$keepalive', function() {
					$scope.events.push({event: '$keepalive', date: new Date()});
				});

				$scope.reset = function() {
					Idle.watch();
				}

				$scope.$watch('idle', function(value) {
					if (value !== null) Idle.setIdle(value);
				});

				$scope.$watch('timeout', function(value) {
					if (value !== null) Idle.setTimeout(value);
				});
			})
			.config(function(IdleProvider, $keepaliveProvider) {
				$keepaliveProvider.interval(10);
			})
			.run(function($rootScope, Idle, $log, $keepalive){
				Idle.watch();

				$log.debug('app started.');
			});
		</script>
	</head>
	<body>
		<div ng-controller="EventsCtrl" ng-idle-countdown="countdown">
			<h1>Idle and $keepalive events</h1>
			<button type="button" ng-click="reset()">Reset manually</button>
			<ul>
				<li ng-repeat="event in events">{{event}}</li>
			</ul>

			Timeout in {{countdown}} seconds.

			<div>
				Change idle value <input type="number" ng-model="idle" />
			</div>
			<div>
				Change timeout value <input type="number" ng-model="timeout" />
			</div>
		</div>
	</body>
</html>
